/* Write your code here. */
.li {
  list-style: none;
  /* margin-right: 10px; */
}
.btn {
  background-color: #ffffff;
  border-width: 0px;
}
.active-img {
  opacity: 1;
}
.inactive-img {
  opacity: 0.5;
}
